.listImages {
  max-width: 200px;
  max-height: 200px;
  padding-top: 3px;
}

.dog-card {
  border: 1px solid black;
  width: 250px;
  height: 250px;
  break-inside: avoid;
  page-break-inside: avoid;
  margin: 10px;
}