.statistic {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.statistic-container {
  width: 200px;
  margin-right: 0;
  margin-left: auto;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
}
