body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/CUPnCfM/videoblocks-animal-paw-prints-by-frame-cartoon-comic-funny-paws-along-the-path-footprints-walking-animal-on-a-trajectory-of-movement_h-xf8pmsz_thumbnail-full15.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  border-radius: 15%;
}

h1 {
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 55px;
  margin-right: 450px;
  margin-left: 450px;
  color: rgb(57, 134, 185);
  background-color: white;
}

h2 {
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 20px;
}

main {
  font-family: "Cabin Sketch", cursive;
}

button {
  font-family: "Love Ya Like A Sister", cursive;
}
